.campo {
  margin: 1.5rem 0;

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  input {
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    border: none;
    font-size: 1.5rem;
    padding: 1.5rem;
  }
}

.campo-color input {
  height: 40px;
  padding: 5px 24px;
}
