.footer {
  background-color: #6278f7;
  padding: 2rem 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;

  .logos {
    width: 30rem;
    display: flex;
    justify-content: center;
    gap: 1rem;

    img {
      width: 1.5rem;
    }
  }
  .logo-principal {
    width: 30rem;
    img {
      width: 8rem;
    }
  }
  .descricao {
    max-width: 30rem;
    text-align: center;
    p {
      color: #f3e7e7;
    }
    a {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}
